@import './../../../shared/scss/shared';

.post-description-input {
  @include flex-box(column, flex-start, center);
  padding: 70px 30px;
  max-width: 500px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  &__info {
    margin: 10px 0 10px 0;
    color: RGBA(var(--text-color-rgb), 0.5);
  }

  &__title,
  &__desc {
    margin: 15px 0px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__title-info {
    font-size: .75em;
    color: rgb(150, 150, 150);
    margin-bottom: 10px;

    span {
      color: rgb(194, 139, 0);
    }
  }

  &__desc {
    height: 10em;
    textarea {
      height: 10em;
    }
  }
}
