@import "./../../shared/scss/shared";

.like-dislike {
  @include flex-box(row, flex-start, center);
  &__item {
    @include flex-box(row, center, center);
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }

    & *:first-child {
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
