.button {
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  color: white;
  border-radius: 5px;
  padding: .75em 1.5em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms border-color 250ms;
  font-family: 'Montserrat';
  font-size: 1em;
  transition: background-color 250ms ease-out, color 250ms ease-out,
    border 250ms ease-out;

  &.alt {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--link-color);
  }

  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}
