.button {
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  border-color: var(--link-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: .75em 1.5em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms border-color 250ms;

  &.alt {
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--text-color);
  }

  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}
