@import './../../shared/scss/shared';

.user-profile {
  @include flex-box(column, flex-start, center);
  padding: 20px 50px;

  background-color: var(--profile-background-color);
  box-shadow: 3px 0px 2px rgba(0, 0, 0, .1);

  > div {
    @include flex-box(column, flex-start, center);
  }

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 25px 0px;
  }

  &__username {
    font-size: 2.5em;
  }

  &__fullname {
    margin-bottom: 25px;
  }

  &__status {
    margin-bottom: 5px;
  }

  &__follow {
    @include flex-box(row, center, center);
    margin-bottom: 30px;
    color: rgb(150, 150, 150);

    > * {
      text-align: center;
      margin: 0px 5px;
    }
    &__content {
      width: 100px;
    }
  }

  button {
    width: 100%;
  }

  @media screen and (max-width: $large-breakpoint) {
    @include flex-box(row, center, center);

    img {
      margin-right: 50px;
    }
  }

  @media screen and (max-width: 600px) {
    @include flex-box(column, center, center);

    img {
      margin-right: 0;
      width: 150px;
      height: 150px;
    }
  }
}
