$primary-color: #ffffff;
$accent-color: #4a4a4a;
$primary-color-darken: #f3f2f2;
$background-color: #f6f6f6;
$text-color: black;
$text-color-lighten: rgb(37, 37, 37);
$link-color: #00a3ff;

@mixin flex-box ($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
