@import './../../shared/scss/shared';

.comment-textarea {
  @include flex-box(column, flex-start, flex-start);

  textarea {
    border: none;
    padding: 1em 1.5em;
    border-radius: 5px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 1rem;
    resize: none;
    background-color: var(--background-color);
    box-shadow: -3px -3px 2px var(--box-shadow-light) inset,
      3px 3px 2px var(--box-shadow-dark) inset;
  }

  &__action {
    @include flex-box(row, flex-start, center);
    margin-top: 10px;

    &__error {
      color: var(--error-color);
      margin-left: 20px;
      font-weight: bold;
      font-size: .75em;
    }
  }
}
