.textbox {
  background-color: var(--background-color);
  box-shadow: -3px -3px 2px var(--box-shadow-light) inset,
    3px 3px 2px var(--box-shadow-dark) inset;
  border: none;
  padding: .5em 1em;
  font-size: 1rem;
  font-family: 'Montserrat';
  border-radius: 5px;
}
