.textbox {
  background-color: var(--background-color);
  box-shadow: -3px -3px 2px var(--box-shadow-light) inset,
    3px 3px 2px var(--box-shadow-dark) inset;
  border: none;
  padding: 5px 10px;
  font-family: 'Open Sans';
  border-radius: 5px;
}
