@import "./../../shared/scss/shared";

.detail-page {
  .post-detail-container {
    @include flex-box(row, flex-start, flex-start);
    width: 100%;

    .images-container {
      width: 50%;
      position: sticky;
      top: 0;
      height: 100vh;
      overflow: hidden;
      box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, .15);
      background-color: rgba(150, 150, 150, .1);
    }

    @media screen and (max-width: $large-breakpoint) {
      flex-direction: column;

      .images-container {
        position: relative;
        z-index: 9;
        width: 100%;
        direction: unset;
        height: 50vh;
      }
    }
  }
}
