@import './../../shared/scss/shared';

.user-info {
  @include flex-box(row, flex-start, center);

  > * {
    margin: 5px 0px;
  }
  img {
    width: 30px;
    border-radius: 50%;
  }
  span {
    margin-left: 15px;
    cursor: pointer;
    font-weight: bold;
  }
}
