@import './../../shared/scss/shared';

.comment {
  width: 100%;

  &__additional-data {
    margin: 5px 0px;

    &__timestamp {
      color: rgb(150, 150, 150);
      font-size: .8em;
    }

    &__replies {
      color: var(--link-color);
      font-weight: bold;
    }
  }
}
