@import './../../shared/scss/shared';

.add-post-page {
  &__container {
    @include flex-box(row, flex-start, flex-start);
    width: 100%;

    &__images {
      width: 50%;
      position: sticky;
      top: 0;
      height: 100vh;
      overflow: hidden;
      box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, .15);
      background-color: rgba(150, 150, 150, .1);

      &__plus {
        @include flex-box(column, center, center);
        width: 100%;
        height: 100%;
        background-color: rgba(100, 100, 100, .7);

        h2 {
          color: white;
          margin-top: 15px;
        }
      }
    }

    &__content {
      flex: 1;
      position: relative;

      &__content {
        padding: 40px 30px;
        max-width: 700px;
        min-height: 881px;
        margin: 0 auto;
        position: relative;

        &__actions {
          @include flex-box(row, flex-start, center);
          position: absolute;
          bottom: 40px;
          left: 0;
          width: 100%;
          margin: 0px auto;

          .button-step {
            @include flex-box(column, center, center);
            $self: &;
            opacity: 1;
            transition: opacity 250ms ease-out;

            button {
              box-shadow: 5px 5px 15px rgba(0, 0, 0, .1),
                2px 2px 5px rgba(0, 0, 0, .3);
              background-color: var(--link-color);
              border: none;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              padding: 10px;
              transition: box-shadow 300ms ease-out;
              cursor: pointer;

              .icon {
                margin: 0px auto;
              }

              &:hover,
              &:focus {
                box-shadow: 15px 15px 25px rgba(0, 0, 0, .2),
                  2px 2px 10px rgba(0, 0, 0, .4);
                & ~ span {
                  color: var(--link-color);
                }
              }

              &:disabled {
                background-color: rgb(150, 150, 150);

                &:focus,
                &:hover {
                  & ~ span {
                    color: var(--text-color);
                  }
                }
              }
            }

            span {
              margin-top: 5px;
              width: 120px;
              text-align: center;
              transition: color 250ms ease-out;
            }

            &--hide {
              @extend .button-step;
              opacity: 0;
              pointer-events: none;
            }
          }

          &__next {
            margin-left: auto;
          }
        }

        @media screen and (max-width: $breakpoint) {
          padding: 40px 0px;
          min-height: initial;

          &__actions {
            margin-top: 50px;
            position: relative;
          }
        }
      }

      &__overlay {
        $self: &;
        z-index: 999;
        background-color: rgba(0, 0, 0, .7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 1;
        transition: opacity 300ms ease-out;

        > div {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        h2 {
          text-align: center;
          color: white;
        }

        &--hide {
          @extend #{$self};
          opacity: 0;
          pointer-events: none;
        }

        @media screen and (max-width: $large-breakpoint) {
          height: 100%;
        }
      }
    }

    @media screen and (max-width: $large-breakpoint) {
      flex-direction: column;

      &__images {
        position: relative;
        z-index: 9;
        width: 100%;
        direction: unset;
        height: 50vh;
      }

      &__image-preview {
        width: 100%;
      }

      &__content {
        width: 100%;
      }
    }
  }
}
