@import './../../shared/scss/shared';

.navbar {
	@include flex-box(row, space-between, center);
	height: 67px;

	//FIXME: cek bagusan mana ini ato color accent
	background-color: $text-color-lighten;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
	z-index: 999;
	position: relative;

	&__logo {
		@include flex-box(row, center, center);
		@include background-color-hover-effect($text-color);
		height: 100%;
		padding: 0px 15px;
		img {
			height: 2em;
		}
	}

	ul {
		@include flex-box(row, flex-start, center);
		height: 100%;

		li {
			@include flex-box(row, center, center);
			@include background-color-hover-effect($text-color);
			width: 150px;
			text-align: center;
			height: 100%;
			transition: background-color 250ms ease-out;
			color: $primary-color;

			&.inverted {
				@include background-color-hover-effect($link-color, $text-color: white);
				color: $text-color;
				background-color: $primary-color-darken;
			}

			a {
				text-decoration: none;
				color: currentColor;
			}
		}
	}
}
