@import './../../shared/scss/shared';

.post-preview {
  @include flex-box(column, space-between, flex-start);
  width: 100%;
  height: 400px;

  box-shadow: 0px 5px 5px rgba(100, 100, 100, .1);
  background-color: var(--primary-color);
  color: var(--text-color);
  transition: box-shadow 500ms ease-out;

  &:hover {
    box-shadow: 5px 5px 5px rgba(50, 50, 50, .15);
  }

  &__content-container {
    @include flex-box(column, flex-end, flex-start);
    width: 100%;
    flex: 1;
    overflow: hidden;
    position: relative;

    .image-container {
      width: inherit;
      position: absolute;
      top: 0;
      left: 0;

      .img-hover-hitbox {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;

        &:hover + img {
          transition: transform 5s linear;
          transform: translateY(-75%);
        }
      }

      img {
        transition: transform .5s ease-out;
        position: relative;
        width: 100%;
      }
    }
  }

  .like-dislike {
    @include flex-box(row, flex-end, center);
  }

  &__content {
    @include flex-box(row, space-between, center);
    z-index: 3;
    width: 100%;
    background-color: rgba(var(--primary-color-rgb), .9);
    padding: 10px 20px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(var(--primary-color-rgb), .5),
        rgba(var(--primary-color-lighten-rgb), .5)
      );
      width: 100%;
    }
  }

  &__info {
    @include flex-box(column, flex-start, flex-start);
  }

  &__title {
    font-size: 1.25em;
    margin-bottom: 5px;
  }

  &__detail {
    font-size: .8em;
  }

  &__author {
    font-weight: bold;
    color: var(--link-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__additional {
    @include flex-box(column, flex-start, flex-start);
    width: 100%;
    padding: 15px 20px;
    padding-top: 5px;

    &__container {
      @include flex-box(row, space-between, center);
      width: inherit;
      padding: .5em 0px;

      &__comments {
        @include flex-box(row, flex-start, center);
        font-size: .8em;

        span {
          margin-left: 10px;
        }
      }
    }
  }
}
