@import './../../shared/scss/shared';

.profile-page {
  width: 100%;

  .profile-container {
    @include flex-box(row, flex-start, flex-start);

    > *:first-child {
      position: sticky;
      top: 0;
      width: 350px;
      height: 100vh;
    }

    @media screen and (max-width: $large-breakpoint) {
      flex-direction: column;

      > *:first-child {
        position: relative;
        height: auto;
        width: 100%;
        z-index: 9;
      }
    }
  }
}
