.icon {
  transition: color 250ms ease-out;

  img {
    width: inherit;
    height: inherit;
  }

  @keyframes scale {
    50% {
      transform: scale(1.2);
      color: var(--link-color);
    }
  }

  &#bookmark.animate {
    animation: scale 500ms ease-in-out;
  }
}
