@import './shared/scss/shared';

main {
  background-color: $background-color;
  min-height: calc(100vh - 67px);
  margin-left: 55px;

  @media screen and (max-width: $breakpoint) {
    margin-left: 0;
  }
}
